@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
.overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 99;
  display: none;
}

.section-padding {
  padding: 40px 0;
}

.section-margin {
  margin: 40px 0;
}

.container-width {
  max-width: 660px;
}
html[dir=rtl] .container-width {
  margin-right: auto;
}
html[dir=ltr] .container-width {
  margin-left: auto;
}
@media (max-width: 992px) {
  .container-width {
    max-width: 100%;
  }
}

.over-flow-hidden {
  overflow-y: hidden;
}

.section-pattern, .mission-section, .contact-page, .career-section, .our-project-section, .about-section {
  position: relative;
  z-index: 1;
}
.section-pattern::after, .mission-section::after, .contact-page::after, .career-section::after, .our-project-section::after, .about-section::after {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  background-image: url("../img/aboutPattern.png");
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: unset;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(75, 75, 75, 0.1);
  color: #4b4b4b;
}

.date-item {
  padding: 12px 0;
  font-size: 15px;
  color: white;
  letter-spacing: 5px;
}
.date-item i {
  padding: 0 4px;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-list li {
  padding: 0 12px;
}
.social-media-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 28px;
  color: white;
  filter: grayscale(100%);
}
.social-media-list li a:hover {
  filter: grayscale(0%);
}

@media (max-width: 992px) {
  .order-sm {
    order: -1;
  }
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  counter-reset: nav-list-counter;
}
html[dir=rtl] body {
  font-family: "Vazirmatn", sans-serif;
}
html[dir=ltr] body {
  font-family: "Nunito", sans-serif;
}

.nav-section {
  z-index: 5;
  padding: 30px 0;
  background-color: transparent;
  z-index: 999999;
  position: relative;
}
.nav-section .nav-box {
  z-index: 99999999;
}
.nav-section .nav-box > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html[dir=ltr] .nav-section .nav-box > ul > li {
  margin-right: 20px;
}
html[dir=rtl] .nav-section .nav-box > ul > li {
  margin-left: 20px;
}
.nav-section .nav-box > ul > li:last-of-type {
  margin: 0 !important;
}
.nav-section .nav-box > ul > li > a {
  text-transform: uppercase;
  padding: 8px 0;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  color: #000;
  z-index: 999;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.nav-section .nav-box > ul > li > a:hover {
  color: #4b4b4b;
  border-bottom-color: #4b4b4b;
}
.nav-section .nav-box > ul > li > a.active {
  border-bottom-color: #4b4b4b;
  border-top-color: #4b4b4b;
}
.nav-section .nav-box > ul > li .child-box {
  position: absolute;
  background-color: #e3e5ea;
  left: 0;
  right: 0;
  top: 120px;
  padding: 24px 0;
  box-shadow: 0px 0px 20px 0px rgba(172, 172, 172, 0.1);
  display: none;
}
.nav-section .nav-box > ul > li .child-box .title {
  font-size: 30px;
  font-weight: 600;
  color: #4b4b4b;
  padding: 0 0 14px;
}
.nav-section .nav-box > ul > li .child-box .prag {
  margin-bottom: 14px;
  width: 90%;
  line-height: 1.45;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.nav-section .nav-box > ul > li .child-box .nav-link-list {
  font-size: 18px;
  font-weight: 400;
  color: #969696;
}
.nav-section .nav-box > ul > li .child-box .child-nav-list li a {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 700;
  color: #666;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.nav-section .nav-box > ul > li .child-box .child-nav-list li a:hover {
  color: #4b4b4b;
}
.nav-section .icon-box-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-section .icon-box-container .icon-box {
  align-items: center;
  text-align: end;
  display: flex;
  cursor: pointer;
  padding: 0 14px;
}
html[dir=ltr] .nav-section .icon-box-container .icon-box {
  border-left: 1px solid #666;
}
html[dir=ltr] .nav-section .icon-box-container .icon-box i {
  padding-right: 10px;
}
html[dir=rtl] .nav-section .icon-box-container .icon-box {
  border-right: 1px solid #666;
}
html[dir=rtl] .nav-section .icon-box-container .icon-box i {
  padding-left: 10px;
}
.nav-section .icon-box-container .icon-box:first-of-type {
  border: 0 !important;
}
.nav-section .icon-box-container .icon-box,
.nav-section .icon-box-container .icon-box a {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
.nav-section .icon-box-container .icon-box.menu-icon {
  display: none;
}
.nav-section .search-box {
  position: absolute;
  background-color: #e3e5ea;
  left: 0;
  right: 0;
  top: 150px;
  padding: 24px 0;
  box-shadow: 0px 0px 20px 0px rgba(172, 172, 172, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
}
.nav-section .search-box form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-section .search-box form input {
  margin: 0 24px;
  width: 400px;
  max-width: 100%;
  padding: 12px;
}
.nav-section .search-box form input:focus {
  outline: transparent;
  box-shadow: unset;
}
.nav-section .search-box form button {
  font-size: 18px;
  border: 0;
  padding: 12px 18px;
  color: white;
  background-color: #4b4b4b;
}
html[dir=rtl] .nav-section .search-box form button i {
  padding-left: 10px;
}
html[dir=ltr] .nav-section .search-box form button i {
  padding-right: 10px;
}
.nav-section .mobile-menu {
  display: none;
}

@media (max-width: 992px) {
  html[dir=rtl] .nav-section .nav-box > ul > li {
    margin-left: 12px;
  }
  html[dir=ltr] .nav-section .nav-box > ul > li {
    margin-right: 12px;
  }
  .nav-section .nav-box > ul > li > a {
    font-size: 11px;
  }
  .nav-section .nav-box > ul > li .child-box .child-nav-list li a {
    font-size: 15px;
    padding: 10px 0;
  }
  .nav-section .nav-box > ul > li .child-box .prag {
    width: 100%;
    font-size: 13px;
  }
  .nav-section .search-box form input {
    width: 300px;
  }
}
@media (max-width: 772px) {
  .nav-section .search-box form input {
    width: 200px;
    max-width: 200px;
  }
  .nav-section .search-box form button {
    font-size: 12px;
    padding: 16px 18px;
  }
  .nav-section .mobile-menu {
    position: fixed;
    background-color: #e3e5ea;
    left: 0;
    right: 0;
    top: 150px;
    height: 100%;
    padding: 60px;
  }
  .nav-section .mobile-menu > ul {
    overflow-y: auto;
  }
  .nav-section .mobile-menu > ul > li {
    padding: 0 0 16px;
    margin: 0 0 16px;
    border-bottom: 2px solid #fff;
  }
  .nav-section .mobile-menu > ul > li > a {
    font-size: 15px;
    font-weight: 600;
    color: #666666;
    transition: 0.2s all ease-in-out;
  }
  .nav-section .mobile-menu > ul > li > a:hover {
    color: #969696;
  }
  .nav-section .mobile-menu > ul > li ul {
    padding: 0 16px;
  }
  .nav-section .mobile-menu > ul > li ul li {
    margin-top: 12px;
  }
  .nav-section .mobile-menu > ul > li ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    transition: 0.2s all ease-in-out;
  }
  .nav-section .mobile-menu > ul > li ul li a:hover {
    color: #969696;
  }
  .nav-section .nav-box {
    display: none;
  }
  .nav-section .icon-box-container .icon-box,
  .nav-section .icon-box-container .icon-box a {
    font-size: 12px;
    font-weight: 500;
  }
  .nav-section .icon-box-container .icon-box.menu-icon {
    display: block;
  }
  .nav-section .icon-box-container .icon-box.menu-icon .open {
    display: block;
  }
  .nav-section .icon-box-container .icon-box.menu-icon .close {
    display: none;
  }
}
.footer-section {
  border-top: 1px solid rgba(150, 150, 150, 0.2);
  padding: 24px 0;
}
.footer-section .logo-box img {
  height: 100px;
}
.footer-section .prag {
  padding: 12px 0;
  max-width: 60%;
  font-size: 13px;
}
.footer-section .footer-list .footer-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 12px;
  color: #4b4b4b;
}
.footer-section .footer-list ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #969696;
}
.footer-section .footer-list ul li a:hover {
  color: #4b4b4b;
}

.copyRight-footer {
  text-align: center;
  background-color: #969696;
  padding: 20px 0;
}
.copyRight-footer .copyRight-footer-h {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.copyRight-footer .copyRight-footer-h a {
  color: white;
}
.copyRight-footer .copyRight-footer-h a:hover {
  color: #4b4b4b;
}

@media (max-width: 992px) {
  .footer-section .prag {
    max-width: 100%;
  }
}
@media (max-width: 772px) {
  .footer-section .prag {
    margin: 0 0 12px;
  }
  .footer-section .map {
    padding: 24px 0 0;
  }
}
.intro-section {
  overflow: hidden;
  position: relative;
}
.intro-section .intro-slider {
  height: 80vh;
}
.intro-section .intro-slider .swiper-wrapper {
  height: 100%;
  transition-duration: 0ms;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide {
  transition: 1s;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .slide-bgimg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .slide-bgimg img {
  display: none;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .slider-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .slider-video video {
  width: 100%;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .intro-slider-content .title {
  font-weight: 800;
  font-size: 53px;
  line-height: 60px;
  color: white;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide .intro-slider-content .prag {
  color: white;
  font-size: 17px;
  line-height: 24px;
}
.intro-section .intro-slider .swiper-wrapper .swiper-slide:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.intro-section .intro-slider .swiper-navigation-box {
  position: absolute;
  top: 50%;
}
.intro-section .swiper-pagination {
  bottom: 127px;
  position: absolute;
  left: 55px;
  width: 0;
}
.intro-section .swiper-pagination span {
  color: #fff;
}
.intro-section .swiper-pagination span.swiper-pagination-current {
  font-size: 27px;
  position: absolute;
  top: 10px;
  font-weight: 600;
}
.intro-section .swiper-pagination span.swiper-pagination-line {
  position: absolute;
  width: 1px;
  height: 85px;
  top: 15px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(38deg);
}
.intro-section .swiper-pagination span.swiper-pagination-total {
  font-size: 14px;
  position: absolute;
  top: 70px;
  left: 30px;
}
.intro-section .arrow-box {
  position: absolute;
  right: 43px;
  top: 43%;
}
.intro-section .arrow-box .swiper-button-next,
.intro-section .arrow-box .swiper-button-prev {
  left: unset;
  color: #fff;
}
.intro-section .arrow-box .swiper-button-next:after,
.intro-section .arrow-box .swiper-button-prev:after {
  display: none;
}
.intro-section .arrow-box .swiper-button-next {
  top: 39px;
}
.intro-section .arrow-box .swiper-button-prev {
  top: 38%;
  right: 80px;
}

.about-section.about-section-page {
  padding: 40px 0;
}
.about-section.about-section-page .img-box {
  height: 350px;
}
.about-section .img-box {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.about-section .img-box:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.about-section .img-box.margin-box {
  margin: 90px 0 0;
}

.constructions-section .constructions-box {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.constructions-section .constructions-box .constructions-title {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}
.constructions-section .constructions-box .constructions-list li {
  padding-bottom: 30px;
}
.constructions-section .constructions-box .constructions-list li:last-of-type {
  padding-bottom: 0;
}
.constructions-section .constructions-box .constructions-list li a {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4b4b4b;
  color: white;
}
.constructions-section .constructions-box .constructions-list li a .text {
  padding: 12px;
}
.constructions-section .constructions-box.buttom-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.constructions-section .constructions-box.buttom-box .constructions-box-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
}
.constructions-section .constructions-box.full-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.constructions-section .constructions-box.full-box .constructions-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
}
.constructions-section .constructions-box.full-box .constructions-box-content .prag {
  color: #fff;
  font-weight: 600;
  padding: 15px 0;
}
.constructions-section .constructions-box.full-box:after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.our-project-section .projects-swiper-button-box {
  display: flex;
  align-items: center;
}
.our-project-section .projects-swiper-button-box .projects-swiper-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  color: white;
  background-color: rgba(75, 75, 75, 0.6);
}
html[dir=rtl] .our-project-section .projects-swiper-button-box .projects-swiper-button {
  margin-left: 12px;
}
html[dir=ltr] .our-project-section .projects-swiper-button-box .projects-swiper-button {
  margin-right: 12px;
}
.our-project-section .projects-swiper-button-box .projects-swiper-button:hover {
  background-color: #4b4b4b;
}
.our-project-section .projects-slider-box .swiper-slide {
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  z-index: 1;
  position: relative;
}
.project-details-section .our-project-section .projects-slider-box .swiper-slide {
  display: block;
}
.our-project-section .projects-slider-box .swiper-slide .fancybox-link {
  position: absolute;
  inset: 0;
}
.our-project-section .projects-slider-box .swiper-slide:after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(75, 75, 75, 0.2);
  z-index: -1;
}
.our-project-section .projects-slider-box .swiper-slide.swiper-slide-active {
  align-items: flex-start;
}
.our-project-section .projects-slider-box .swiper-slide .title {
  text-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.materials-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 60px 0;
}
.materials-section:after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(75, 75, 75, 0.2);
  z-index: -1;
}
.materials-section .section-title-box .sub-section-title {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.materials-section .section-title-box .section-title {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.materials-section .materials-box {
  background-color: rgba(75, 75, 75, 0.5);
  padding: 40px 30px;
  margin: 0 0 12px;
  min-height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.materials-section .materials-box .materials-number {
  color: white;
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 16px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.materials-section .materials-box .materials-title {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.career-section .quote-box .quote-item {
  font-size: 30px;
  font-weight: 800;
  display: block;
  color: black;
}
.career-section .quote-box .quote-item::before, .career-section .quote-box .quote-item::after {
  opacity: 0.1;
  transform: translateY(-36px) scale(1.5);
  font-size: 100px;
  position: absolute;
}
.career-section .career-box {
  z-index: 1;
  position: relative;
  margin: -30px 0 0;
}
.career-section .career-box ul {
  background-color: white;
  display: flex;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}
.career-section .career-box ul li {
  width: 100%;
}
.career-section .career-box ul li a {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 16px;
  padding: 20px;
  color: black;
  background-color: white;
}
.career-section .career-box ul li a:hover {
  color: white;
  background-color: #969696;
}

.contact-section {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-section:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.contact-section .form-group label {
  color: white;
}
.contact-section .contact-us-list-box ul li {
  margin: 0 0 20px;
}
.contact-section .contact-us-list-box ul li .title {
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0 0 4px;
  color: white;
}
.contact-section .contact-us-list-box ul li .text {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.contact-section .contact-us-list-box ul li .text:is(a):hover {
  color: #969696;
}

@media (max-width: 992px) {
  .about-section {
    padding: 40px 0;
  }
  .about-section .link-box {
    padding-bottom: 20px;
  }
  .about-section .link-box a {
    margin: 0 auto;
  }
  .about-section .img-box {
    height: 300px;
    margin: 20px 0;
  }
  .constructions-section .constructions-box .constructions-title {
    font-size: 26px;
  }
  .constructions-section .constructions-box .constructions-list li a {
    font-size: 13px;
  }
  .constructions-section .constructions-box.full-box .constructions-box-content {
    width: 100%;
    padding: 20px;
  }
  .career-section .quote-box .quote-item {
    margin: 20px 0;
    text-align: center;
    font-size: 22px;
  }
  .career-section .career-box {
    margin: 0;
  }
  .career-section .career-box ul li a {
    padding: 20px 12px;
    font-size: 14px;
  }
  .our-project-section .projects-swiper-button-box {
    justify-content: center;
    padding-bottom: 20px;
  }
  .our-project-section .projects-swiper-button-box .projects-swiper-button {
    width: 40px;
    height: 40px;
  }
  .contact-section .contact-us-list-box ul li {
    text-align: center;
  }
  .contact-section .socile-list-box {
    padding: 0 0 30px;
  }
  .contact-section .socile-list-box .socile-list {
    justify-content: center;
  }
  .contact-section .socile-list-box .socile-list li a {
    width: 34px;
    height: 34px;
    font-size: 20px;
  }
}
@media (max-width: 772px) {
  .intro-section .intro-slider {
    height: 55vh;
  }
  .intro-section .intro-slider .swiper-wrapper .swiper-slide .slider-video video {
    position: absolute;
    width: unset;
    height: unset;
  }
  .intro-section .intro-slider .swiper-wrapper .swiper-slide .intro-slider-content .title {
    font-size: 40px;
  }
  .intro-section .intro-slider .swiper-wrapper .swiper-slide .intro-slider-content .prag {
    font-size: 13px;
  }
  .intro-section .swiper-pagination {
    display: none;
  }
  .intro-section .arrow-box {
    top: 80%;
  }
  .our-project-section .projects-slider-box .swiper-slide {
    height: 300px;
  }
  .materials-section .materials-box .materials-number {
    font-size: 30px;
  }
  .career-section .career-box ul {
    display: block;
  }
}
.contact-page .form-group {
  background-color: rgba(75, 75, 75, 0.1);
}
.contact-page .form-group input,
.contact-page .form-group select,
.contact-page .form-group textarea {
  color: #4b4b4b !important;
}
.contact-page .form-group input::-moz-placeholder, .contact-page .form-group select::-moz-placeholder, .contact-page .form-group textarea::-moz-placeholder {
  color: rgba(150, 150, 150, 0.5);
}
.contact-page .form-group input::placeholder,
.contact-page .form-group select::placeholder,
.contact-page .form-group textarea::placeholder {
  color: rgba(150, 150, 150, 0.5);
}
.contact-page .section-title-box {
  padding: 24px 0;
}
.number-item a {
  font-size: 20px;
  font-weight: 500;
  color: #969696;
}
.number-item a .text {
  display: inline-block;
  padding: 0 6px;
}
.number-item a:hover {
  color: #4b4b4b;
}

@media (max-width: 772px) {
  .contact-page .contact-form-box {
    padding: 0 0 24px;
  }
}
.event-page .news-slider-box {
  position: relative;
}
.event-page .news-slider-box:hover .arrow-box {
  opacity: 1;
}
.event-page .news-slider-box .arrow-box {
  opacity: 0;
  z-index: 999;
  width: 10%;
  height: 79.5%;
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.event-page .news-slider-box .arrow-box.next-arrow {
  left: 0;
}
.event-page .news-slider-box .arrow-box.prev-arrow {
  right: 0;
}
.event-page .news-slider-box .arrow-box:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.event-page .news-slider-box .news-slider .news-slider-item {
  width: calc(100% - 5px) !important;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box {
  position: relative;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box:hover .img-box:after {
  opacity: 1;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box:hover .img-box img {
  transform: scale(1.05);
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box:hover .slider-text-box .event-title {
  color: #986e02;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .img-box {
  overflow: hidden;
  position: relative;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .img-box:after {
  position: absolute;
  inset: 0;
  content: "";
  transition: 1s all ease-in-out;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.171) 0%, rgba(0, 0, 0, 0.685) 100%);
  opacity: 0;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .img-box img {
  transition: 1.1s all ease-in-out;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .slider-text-box {
  padding: 12px;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .slider-text-box .event-title {
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  transition: 0.8s all ease-in-out;
}
.event-page .news-slider-box .news-slider .news-slider-item .event-box .slider-text-box .prag {
  font-size: 16px;
}

.services-list-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 0;
}
.services-list-box .services-box {
  height: 400px;
  width: 25%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding: 20px;
  position: relative;
  align-items: flex-end;
}
.services-list-box .services-box:hover {
  width: 50%;
}
.services-list-box .services-box:hover .services-content {
  opacity: 1;
}
.services-list-box .services-box .services-content {
  opacity: 0;
}
.services-list-box .services-box .services-content .title {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  padding-bottom: 12px;
}
.services-list-box .services-box .services-content .prag {
  color: #fff;
  font-size: 14px;
}

.gallery {
  --gap: 1rem;
  --min-height: 20rem;
  --image-background: hsla(0, 0%, 0%, 0.2);
  --last-background: none;
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--gap);
  margin: 2.75rem;
  pointer-events: none;
}
.gallery:hover article {
  opacity: 0.6;
}
.gallery article {
  position: relative;
  overflow: hidden;
  background-color: var(--image-background);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14), 0 0 0.125rem rgba(0, 0, 0, 0.12);
  pointer-events: auto;
  transition: opacity 500ms linear;
  flex-grow: 66666.6666666667;
  flex-basis: calc(var(--min-height) * 0.6666666667);
  aspect-ratio: 400/600;
}
.gallery article a {
  display: block;
  height: 100%;
}
.gallery article:nth-of-type(1) {
  flex-grow: 133333.3333333333;
  flex-basis: calc(var(--min-height) * 1.3333333333);
  aspect-ratio: 800/600;
}
.gallery article:nth-of-type(2) {
  flex-grow: 100000;
  flex-basis: calc(var(--min-height) * 1);
  aspect-ratio: 600/600;
}
.gallery article:nth-of-type(3) {
  flex-grow: 166666.6666666667;
  flex-basis: calc(var(--min-height) * 1.6666666667);
  aspect-ratio: 1000/600;
}
.gallery article:nth-of-type(4) {
  flex-grow: 66666.6666666667;
  flex-basis: calc(var(--min-height) * 0.6666666667);
  aspect-ratio: 400/600;
}
.gallery article:nth-of-type(5) {
  flex-grow: 100000;
  flex-basis: calc(var(--min-height) * 1);
  aspect-ratio: 600/600;
}
.gallery article:nth-of-type(6) {
  flex-grow: 116666.6666666667;
  flex-basis: calc(var(--min-height) * 1.1666666667);
  aspect-ratio: 700/600;
}
.gallery article:nth-of-type(7) {
  flex-grow: 166666.6666666667;
  flex-basis: calc(var(--min-height) * 1.6666666667);
  aspect-ratio: 1000/600;
}
.gallery article:nth-of-type(8) {
  flex-grow: 83333.3333333333;
  flex-basis: calc(var(--min-height) * 0.8333333333);
  aspect-ratio: 500/600;
}
.gallery article:nth-of-type(9) {
  flex-grow: 83333.3333333333;
  flex-basis: calc(var(--min-height) * 0.8333333333);
  aspect-ratio: 500/600;
}
.gallery article:nth-of-type(10) {
  flex-grow: 133333.3333333333;
  flex-basis: calc(var(--min-height) * 1.3333333333);
  aspect-ratio: 800/600;
}
.gallery article:nth-of-type(11) {
  flex-grow: 166666.6666666667;
  flex-basis: calc(var(--min-height) * 1.6666666667);
  aspect-ratio: 1000/600;
}
.gallery article:nth-of-type(12) {
  flex-grow: 33333.3333333333;
  flex-basis: calc(var(--min-height) * 0.3333333333);
  aspect-ratio: 200/600;
}
.gallery article img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery article::after {
  content: " ";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0% 80%, rgba(0, 0, 0, 0.501961) 98% 100%);
  pointer-events: none;
  transition: opacity 250ms linear;
  z-index: 1;
}
.gallery article:hover {
  opacity: 1;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.14), 0 0 0.25rem rgba(0, 0, 0, 0.12);
}
.gallery article:hover::after {
  opacity: 1;
}
.gallery article:hover picture + details {
  opacity: 1;
}
.gallery:after {
  content: " ";
  flex-grow: 1000000000;
  background: var(--last-background);
}

.section-title-box.white-title .section-title,
.section-title-box.white-title .sub-section-title {
  color: #fff;
}
.section-title-box .sub-section-title {
  color: #000;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.section-title-box .section-title {
  letter-spacing: 2px;
  font-size: 42px;
  font-weight: 900;
  color: #4b4b4b;
  margin: 0 0 30px;
}

.prag {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

@media (max-width: 992px) {
  .section-title-box {
    text-align: center;
  }
  .section-title-box .sub-section-title {
    font-size: 12px;
  }
  .section-title-box .section-title {
    font-size: 30px;
  }
  .prag {
    font-size: 15px;
  }
}
@media (max-width: 772px) {
  .section-title-box .section-title {
    font-size: 22px;
  }
}
.link-box.width-box a,
.link-box.width-box button {
  padding: 12px 80px;
}
.link-box.center-box a,
.link-box.center-box button {
  margin: 0 auto;
}
.link-box.full-box a,
.link-box.full-box button {
  background-color: #969696;
  color: #fff;
}
.link-box.full-box a:hover,
.link-box.full-box button:hover {
  background-color: #4b4b4b;
  border-color: #4b4b4b;
}
.link-box.transparent-box a,
.link-box.transparent-box button {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 0;
}
.link-box.transparent-box a:hover,
.link-box.transparent-box button:hover {
  background-color: transparent;
  box-shadow: unset;
  color: #acacac;
}
.link-box a,
.link-box button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
  font-weight: 500;
  color: #969696;
  padding: 12px 30px;
  border: solid 1px #969696;
  position: relative;
  background-color: transparent;
  z-index: 1;
}
html[dir=ltr] .link-box a i,
html[dir=ltr] .link-box button i {
  padding-right: 12px;
}
html[dir=rtl] .link-box a i,
html[dir=rtl] .link-box button i {
  padding-left: 12px;
}
.link-box a:hover,
.link-box button:hover {
  background-color: #969696;
  color: #fff;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin: 0 0 20px;
  padding: 10px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}
.form-group.input-box {
  align-items: center;
  display: flex;
  padding: 0 12px;
}
.form-group.input-box label {
  margin: 0;
}
.form-group.input-box input {
  background-color: transparent;
}
.form-group.input-box input:focus {
  background-color: transparent;
}
.form-group label {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 12px;
  display: block;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border: 0;
  min-height: 36px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  color: white !important;
}
.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder, .form-group select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: transparent;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: unset;
}
.form-group input {
  margin: 0 12px;
}
.form-group select {
  margin: 0 12px;
}
.form-group select option {
  color: black !important;
}
.form-group textarea {
  padding: 10px;
  background-color: #fff;
  color: black !important;
}
.form-group textarea::-moz-placeholder {
  color: black;
}
.form-group textarea::placeholder {
  color: black;
}
.form-group textarea:focus {
  background-color: #fff;
}

.socile-list-box .socile-list {
  display: flex;
  align-items: center;
}
html[dir=ltr] .socile-list-box .socile-list li {
  padding-right: 12px;
}
html[dir=rtl] .socile-list-box .socile-list li {
  padding-left: 12px;
}
.socile-list-box .socile-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 24px;
  color: #fff;
  background-color: #969696;
}
.socile-list-box .socile-list li a:hover {
  color: #969696;
  background-color: #fff;
}

.banner-intro-section {
  padding: 0 0 40px;
}
.banner-intro-section.sub-banner .banner-intro-box {
  animation: unset !important;
}
.banner-intro-section .banner-intro-box {
  padding: 120px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
.banner-intro-section .banner-intro-box:after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(75, 75, 75, 0.2);
  z-index: -1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.banner-intro-section .banner-intro-box .sub-title {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 10px;
  z-index: 1;
  display: inline-block;
}
.banner-intro-section .banner-intro-box .sub-title,
.banner-intro-section .banner-intro-box .sub-title a {
  color: white;
}
.banner-intro-section .banner-intro-box .sub-title:hover a {
  color: #ffc93c;
}
html[dir=rtl] .banner-intro-section .banner-intro-box .sub-title {
  padding-left: 220px;
}
html[dir=ltr] .banner-intro-section .banner-intro-box .sub-title {
  padding-right: 220px;
}
.banner-intro-section .banner-intro-box .sub-title.no-after {
  padding: 0 !important;
}
.banner-intro-section .banner-intro-box .sub-title.no-after:after {
  display: none;
}
.banner-intro-section .banner-intro-box .sub-title:after {
  position: absolute;
  width: 200px;
  height: 3px;
  content: "";
  background-color: white;
  z-index: -1;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
}
html[dir=rtl] .banner-intro-section .banner-intro-box .sub-title:after {
  left: 0;
}
html[dir=ltr] .banner-intro-section .banner-intro-box .sub-title:after {
  right: 0;
}
.banner-intro-section .banner-intro-box .title {
  font-size: 42px;
  font-weight: 700;
  color: white;
}

@media (max-width: 772px) {
  .banner-intro-section .banner-intro-box .sub-title {
    font-size: 14px;
  }
  html[dir=rtl] .banner-intro-section .banner-intro-box .sub-title {
    padding-left: 50px;
  }
  html[dir=ltr] .banner-intro-section .banner-intro-box .sub-title {
    padding-right: 50px;
  }
  .banner-intro-section .banner-intro-box .sub-title:after {
    width: 40px;
  }
  .banner-intro-section .banner-intro-box .title {
    font-size: 30px;
  }
}
.small-box {
  padding: 0 24px 24px;
}
.small-box .title {
  font-size: 34px;
  color: #986e02;
  padding: 0 0 12px;
  font-weight: 700;
}
.small-box .sub-title {
  font-size: 15px;
  font-weight: 600;
  color: #585858;
}

.vision-img-box {
  position: relative;
  height: 600px;
}
.vision-img-box .back-img {
  height: 600px;
  width: 300px;
  position: absolute;
  top: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-50%);
}
html[dir=rtl] .vision-img-box .back-img {
  left: 0;
}
html[dir=ltr] .vision-img-box .back-img {
  right: 0;
}
.vision-img-box .front-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  height: 329px;
  width: 80%;
  left: 100px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  transform: translateY(-50%);
}

.project-section-box:hover .project-section-box-img:after {
  opacity: 1;
}
.project-section-box:hover .project-section-box-img img {
  transform: scale(1.05);
}
.project-section-box .project-section-box-img {
  position: relative;
  overflow: hidden;
  margin: 0 0 12px;
}
.project-section-box .project-section-box-img:after {
  position: absolute;
  inset: 0;
  content: "";
  transition: 1s all ease-in-out;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.171) 0%, rgba(0, 0, 0, 0.685) 100%);
  opacity: 0;
}
.project-section-box .project-section-box-img a {
  z-index: 2;
}
.project-section-box .project-section-box-img img {
  transition: 1.1s all linear;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-section-box .project-section-title a {
  font-size: 23px;
  font-weight: 700;
  color: black;
}
.project-section-box .project-section-title a:hover {
  color: #585858;
}
.project-section-box .prag {
  padding: 12px 0;
  font-size: 16px;
}

.img-box-out {
  position: relative;
  text-align: center;
  z-index: 1;
}
.img-box-out::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  bottom: 0;
  height: 80%;
  background-color: rgba(75, 75, 75, 0.5);
}
.img-box-out img {
  height: 400px;
}

@media (max-width: 772px) {
  .vision-img-box .front-img {
    width: 100%;
    left: 0;
  }
}
html[dir=ltr] .mission-section .margin-aside {
  margin-left: -160px;
}
html[dir=rtl] .mission-section .margin-aside {
  margin-right: -160px;
}
@media (max-width: 772px) {
  .mission-section .margin-aside {
    margin: 0 !important;
  }
}
.mission-section .mission-img-box img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mission-section .section-title-box {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
  padding: 30px;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.95);
}

.objectives-section .objectives-list-box .objectives-list li {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #4b4b4b;
  margin: 12px 0;
  padding: 0 30px;
}
.objectives-section .objectives-list-box .objectives-list li:after {
  position: absolute;
  color: #969696;
  content: "\f111";
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(30deg);
}
html[dir=rtl] .objectives-section .objectives-list-box .objectives-list li:after {
  right: 0;
}
html[dir=ltr] .objectives-section .objectives-list-box .objectives-list li:after {
  left: 0;
}
.objectives-section .objectives-img {
  position: relative;
}
.objectives-section .objectives-img img {
  max-height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.objectives-section .objectives-img:after {
  inset: 16px;
  position: absolute;
  border: 10px solid white;
  content: "";
}

.partners-slider-box .partners-slider-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.partners-slider-box .partners-slider-item img {
  height: 60px;
  margin: 0 0 12px;
}
.partners-slider-box .partners-slider-item .partners-title {
  font-size: 15px;
  font-weight: 500;
  color: #4b4b4b;
}

.copyRight-footer .copyRight-footer-h a, .our-project-section .projects-swiper-button-box .projects-swiper-button, .services-list-box .services-box, .services-list-box .services-box .services-content {
  transition: 0.4s all ease-in-out;
}

.social-media-list li a, .nav-section, .footer-section .footer-list ul li a, .career-section .career-box ul li a, .contact-section .contact-us-list-box ul li .text, .number-item a, .event-page .news-slider-box .arrow-box, .link-box a,
.link-box button, .socile-list-box .socile-list li a, .banner-intro-section .banner-intro-box .sub-title,
.banner-intro-section .banner-intro-box .sub-title a, .project-section-box .project-section-title a {
  transition: 0.2s all ease-in-out;
}