.banner-intro-section {
  padding: 0 0 40px;
  padding: 267px 40px 120px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  &:after {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba($color-primary-dark, 0.5);
    z-index: -1;
    // backdrop-filter: blur(2px);
  }
  &.sub-banner {
    .banner-intro-box {
      animation: unset !important;
    }
  }

  .banner-intro-box {
    .sub-title {
      position: relative;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 7px;
      margin-bottom: 10px;
      z-index: 1;
      display: inline-block;
      &,
      a {
        @extend%trans2;
        color: rgba($color-white, 1);
      }
      &:hover {
        a {
          color: rgba($color-secondary, 1);
        }
      }
      @include dir(rtl) {
        padding-left: 220px;
      }
      @include dir(ltr) {
        padding-right: 220px;
      }
      &.no-after {
        padding: 0 !important;
        &:after {
          display: none;
        }
      }
      &:after {
        position: absolute;
        width: 200px;
        height: 3px;
        content: "";
        background-color: rgba($color-white, 1);
        z-index: -1;
        border-radius: 5px;
        top: 50%;
        transform: translateY(-50%);
        @include dir(rtl) {
          left: 0;
        }
        @include dir(ltr) {
          right: 0;
        }
      }
    }
    .title {
      font-size: 42px;
      font-weight: 700;
      color: rgba($color-white, 1);
    }
  }
}

@media (max-width: 772px) {
  .banner-intro-section {
    .banner-intro-box {
      .sub-title {
        font-size: 14px;
        @include dir(rtl) {
          padding-left: 50px;
        }
        @include dir(ltr) {
          padding-right: 50px;
        }
        &:after {
          width: 40px;
        }
      }
      .title {
        font-size: 30px;
      }
    }
  }
}
