.small-box {
  padding: 0 24px 24px;
  .title {
    font-size: 34px;
    color: $color-secondary-dark;
    padding: 0 0 12px;
    font-weight: 700;
  }
  .sub-title {
    font-size: 15px;
    font-weight: 600;
    color: $color-gray-dark;
  }
}

.vision-img-box {
  position: relative;
  height: 600px;
  .back-img {
    height: 600px;
    width: 300px;
    position: absolute;
    top: 50%;
    object-fit: cover;
    transform: translateY(-50%);
    @include dir(rtl) {
      left: 0;
    }
    @include dir(ltr) {
      right: 0;
    }
  }
  .front-img {
    position: absolute;
    object-fit: cover;
    top: 50%;
    height: 329px;
    width: 80%;
    left: 100px;
    filter: drop-shadow(0px 0px 4px rgba($color-black, 0.5));
    transform: translateY(-50%);
  }
}

.project-section-box {
  &:hover {
    .project-section-box-img {
      &:after {
        opacity: 1;
      }

      img {
        transform: scale(1.05);
      }
    }
  }
  .project-section-box-img {
    position: relative;
    overflow: hidden;
    margin: 0 0 12px;

    &:after {
      position: absolute;
      inset: 0;
      content: "";
      transition: 1s all ease-in-out;
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.171) 0%,
        rgba(0, 0, 0, 0.685) 100%
      );
      opacity: 0;
    }
    a {
      z-index: 2;
    }
    img {
      transition: 1.1s all linear;
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
  .project-section-title {
    a {
      @extend%trans2;
      font-size: 23px;
      font-weight: 700;
      color: rgba($color-black, 1);
      &:hover {
        color: rgba($color-gray-dark, 1);
      }
    }
  }
  .prag {
    padding: 12px 0;
    font-size: 16px;
  }
}

.img-box-out {
  position: relative;
  text-align: center;
  z-index: 1;
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    bottom: 0;
    height: 80%;
    background-color: rgba($color-primary-dark, 0.5);
  }
  img {
    height: 400px;
  }
}

@media (max-width: 772px) {
  .vision-img-box {
    .front-img {
      width: 100%;
      left: 0;
    }
  }
}
