%trans4 {
  transition: 0.4s all ease-in-out;
}
%trans2 {
  transition: 0.2s all ease-in-out;
}
@mixin animation-scroll($name) {
  animation: #{$name} 1s ease-in-out infinite;
  animation-delay: calc(var(--scroll) * -1s);
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
