.footer-section {
  border-top: 1px solid rgba($color-primary, 0.2);
  padding: 24px 0;
  .logo-box {
    img {
      height: 100px;
    }
  }
  .prag {
    padding: 12px 0;
    max-width: 60%;
    font-size: 13px;
  }
  .footer-list {
    .footer-title {
      font-size: 18px;
      font-weight: 500;
      padding: 0 0 12px;
      color: rgba($color-primary-dark, 1);
    }
    ul {
      li {
        a {
          font-size: 14px;
          font-weight: 600;
          @extend%trans2;
          color: rgba($color-primary, 1);
          &:hover {
            color: rgba($color-primary-dark, 1);
          }
        }
      }
    }
  }
}

.copyRight-footer {
  text-align: center;
  background-color: rgba($color-primary, 1);

  padding: 20px 0;

  .copyRight-footer-h {
    color: rgba($color-white, 1);
    font-size: 14px;
    font-weight: 600;
    a {
      color: rgba($color-white, 1);
      @extend%trans4;
      &:hover {
        color: rgba($color-primary-dark, 1);
      }
    }
  }
}
