.footer-section {
  border-top: 1px solid rgba($color-primary, 0.2);
  padding: 24px 0;
  .logo-box {
    img {
      height: 100px;
    }
  }
  .prag {
    padding: 12px 0;
    font-size: 13px;
  }
  .footer-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 12px;
    color: rgba($color-primary-dark, 1);
  }
  .footer-list {
    ul {
      li {
        a {
          font-size: 14px;
          font-weight: 600;
          @extend%trans2;
          color: rgba($color-primary, 1);
          &:hover {
            color: rgba($color-primary-dark, 1);
          }
        }
      }
    }
  }

  .socile-list-box {
    ul {
      li {
        a {
          width: 30px;
          height: 30px;
          font-size: 14px;
        }
      }
    }
  }
}

.copyRight-footer {
  text-align: center;
  background-color: rgba($color-primary, 1);

  padding: 20px 0;

  .copyRight-footer-h {
    color: rgba($color-white, 1);
    font-size: 14px;
    font-weight: 600;
    a {
      color: rgba($color-white, 1);
      @extend%trans4;
      &:hover {
        color: rgba($color-primary-dark, 1);
      }
    }
  }
}
@media (max-width: 992px) {
  .footer-section {
    .prag {
      max-width: 100%;
    }
  }
}
@media (max-width: 772px) {
  .footer-section {
    .prag {
      margin: 0 0 12px;
    }
    .map {
      padding: 24px 0 0;
    }
  }
}
